<ion-header>
  <ion-toolbar>
    <ion-title>Verify Email</ion-title>
    <ion-button slot="end" size="small" routerLink="/login">Log In</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>

      <p>
        Please check your email and click on the link to verfiy your email address.
      </p>

    </ion-row>
    <ion-row>
      <ion-button type="submit" (click)="authService.SendVerificationMail()" expand="block">
        Resend Verification Email
      </ion-button>
    </ion-row>
  </ion-grid>
</ion-content>