<ion-header>
  <ion-toolbar>
    <ion-title>Budget</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="padding">
  <form [formGroup]="budgetForm" (submit)="createBudget()">
    <ion-item *ngFor="let category of budgetForm.controls | keyvalue">
      <ion-label stacked>{{category.key}} £</ion-label>
      <ion-input formControlName="{{category.key}}" type="number" placeholder="Amount of this expenditure?"
        inputmode="decimal">
      </ion-input>
      <ion-buttons slot="end">
        <ion-button (click)="deleteCategory(categoriesList.indexOf(category.key), category.key)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    <ion-button expand="block" type="submit">
      Submit
    </ion-button>
  </form>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="createCategory()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>