<ion-header>
  <ion-toolbar>
    <ion-title>Budget</ion-title>
    <ion-button slot="end" type="submit" (click)="authService.SignOut()" size="small">Logout</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Add a budget goal for the month
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="budgetForm" (submit)="createBudget()">
        <ion-buttons slot="end">
          <ion-button (click)="toggleReorder()" size="small">
            Reorder
          </ion-button>
        </ion-buttons>
        <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="true">
          <ion-item *ngFor="let category of categoriesList ">
            <ion-label stacked>{{category}} £</ion-label>
            <ion-input class="ion-text-end" formControlName="{{category}}" type="number"
              placeholder="Set a budget for this" inputmode="decimal">
            </ion-input>
            <ion-buttons slot="end">
              <ion-button (click)="deleteCategory(categoriesList.indexOf(category.key), category.key)">
                <ion-icon name="trash-outline"></ion-icon>
              </ion-button>
              <ion-reorder slot="end"></ion-reorder>
            </ion-buttons>
          </ion-item>
        </ion-reorder-group>
        <ion-button expand="block" type="submit">
          Submit
        </ion-button>

        <ion-button *ngIf="!disableOrder" expand="block" type="button" (click)="updateCategory()">
          Save Order
        </ion-button>

      </form>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="createCategory()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>