<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Add an Expenditure</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="createSpendForm" (submit)="createSpend()">
    <ion-item>
      <ion-label stacked>Date Created</ion-label>
      <ion-input slot="end" formControlName="dateCreated" type="date">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Type</ion-label>
      <ion-select formControlName="type">
        <ion-select-option value="Expenditure">Expenditure</ion-select-option>
        <ion-select-option value="Income">Income</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label stacked>Spend Name</ion-label>
      <ion-input autocomplete autocapitalize formControlName="spendName" type="text"
        placeholder="Give a name to your expenditure">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Category</ion-label>
      <ion-select formControlName="category" placeholder="Select a category">
        <ion-select-option *ngFor="let category of categoriesList">{{category}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label stacked>Amount £</ion-label>
      <ion-input slot="end" formControlName="amount" type="number" placeholder="Amount of this expenditure?"
        inputmode="decimal">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Spend Description</ion-label>
      <ion-textarea spellcheck autoGrow formControlName="spendDescription" type="text"
        placeholder="Give more details about this description">
      </ion-textarea>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="!createSpendForm.valid">
      Add Spend
    </ion-button>
  </form>
</ion-content>