<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="budget">
      <ion-icon name="wallet-outline"></ion-icon>
      <ion-label>Budget</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dashboard">
      <ion-icon name="bar-chart-outline"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="charts">
      <ion-icon name="pie-chart-outline"></ion-icon>
      <ion-label>Charts</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>