<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ income?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h4>Date created</h4>
  <p>{{ income?.dateCreated }}.</p>

  <h4>Amount</h4>
  <p>£{{ income?.amount }}</p>

  <h4>Description</h4>
  <p>{{ income?.description }}</p>

</ion-content>

<ion-button slots="end" expand="block" (click)="updateIncome(income)"> EDIT </ion-button>
<ion-button expand="block" (click)="deleteIncome(income.id, income.name)"> DELETE </ion-button>