<ion-header>
  <ion-toolbar>
    <ion-title>Spend It.</ion-title>
    <ion-button slot="end" type="submit" (click)="authService.SignOut()" size="small">Logout</ion-button>
    <ion-buttons slot="end">
      <ion-button routerLink="/create">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="padding">
  <ion-item *ngFor="let spend of spendList | async">
    <ion-label routerLink="/spend-detail/{{spend.id}}">
      <h2>{{ spend.spendName}}</h2>
      <p>Amount: £{{ spend.amount }}</p>
    </ion-label>
    <ion-buttons slot="end">
      <ion-button (click)="updateSpend(spend)">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="deleteSpend(spend.id, spend.spendName)">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="expenditure">
      <ion-icon name="trending-down-outline"></ion-icon>
      <ion-label>Expenditure</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="income">
      <ion-icon name="trending-up-outline"></ion-icon>
      <ion-label>Income</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="budget">
      <ion-icon name="wallet-outline"></ion-icon>
      <ion-label>Budget</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dashboard">
      <ion-icon name="bar-chart-outline"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>