<ion-header>
  <ion-toolbar>
    <ion-title>Spend It.</ion-title>
    <ion-button slot="end" type="submit" (click)="authService.SignOut()" size="small">Logout</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <ion-card>
    <ion-card-content>
      <ion-item lines="none">
        <ion-label stacked>Select Month and Year</ion-label>
        <ion-datetime placeholder="All" displayFormat="MMMM YYYY" [(ngModel)]="dateSelected"
          (ngModelChange)="handleDateChange()">
        </ion-datetime>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-segment value="all" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="all">
          <ion-label>All</ion-label>
        </ion-segment-button>
        <ion-segment-button value="expenditure">
          <ion-label>Expenditure</ion-label>
        </ion-segment-button>
        <ion-segment-button value="income">
          <ion-label>Income</ion-label>
        </ion-segment-button>
      </ion-segment>
      <div *ngIf="selectedSegment === 'all'">
        <ion-item *ngFor="let item of itemList">
          <ion-label routerLink="/tabs/spend-detail/{{item.id}}" *ngIf="!condition(item.type)"
            [color]="item.type === 'Income' ? 'success' : 'danger'">
            <h2>{{ item.name}}</h2>
            <p>Amount: £{{ item.amount }}</p>
            <p>Date: {{ item.dateCreated }}</p>
          </ion-label>
          <ion-buttons slot="end" *ngIf="!condition(item.type)">
            <ion-button (click)="updateSpend(item)">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="deleteSpend(item.id, item.name)">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </ion-buttons>

          <ion-label routerLink="/tabs/income-detail/{{item.id}}" *ngIf="condition(item.type)"
            [color]="condition(item.type) ? 'success' : 'danger'">
            <h2>{{ item.name}}</h2>
            <p>Amount: £{{ item.amount }}</p>
            <p>Date: {{ item.dateCreated }}</p>
          </ion-label>
          <ion-buttons slot="end" *ngIf="condition(item.type)">
            <ion-button (click)="updateIncome(item)">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="deleteIncome(item.id, item.name)">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </div>

      <div *ngIf="selectedSegment === 'expenditure'">
        <ion-item *ngFor="let spend of spendList | async">
          <ion-label routerLink="/tabs/spend-detail/{{spend.id}}"
            [color]="spend.type === 'Income' ? 'success' : 'danger'">
            <h2>{{ spend.name}}</h2>
            <p>Amount: £{{ spend.amount }}</p>
            <p>Date: {{ spend.dateCreated }}</p>
          </ion-label>
          <ion-buttons slot="end">
            <ion-button (click)="updateSpend(spend)">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="deleteSpend(spend.id, spend.name)">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </div>

      <div *ngIf="selectedSegment === 'income'">
        <ion-item *ngFor="let income of incomeList | async">
          <ion-label routerLink="/tabs/income-detail/{{income.id}}"
            [color]="income.type === 'Income' ? 'success' : 'danger'">
            <h2>{{ income.name}}</h2>
            <p>Amount: £{{ income.amount }}</p>
            <p>Date: {{ income.dateCreated }}</p>
          </ion-label>
          <ion-buttons slot="end">
            <ion-button (click)="updateIncome(income)">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="deleteIncome(income.id, income.name)">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/tabs/create">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>