<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Spend it.</ion-title>
    <ion-button slot="end" type="submit" (click)="authService.SignOut()" size="small">Logout</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-toolbar>
    <ion-segment value="Expenditure" (ionChange)="radioGroupChange($event)">
      <ion-segment-button value="Expenditure">Expenditure</ion-segment-button>
      <ion-segment-button value="Income">Income</ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <form [formGroup]="createForm" (submit)="submitIncome()" *ngIf="selectedRadioGroup === 'Income'">
    <ion-item>
      <ion-label stacked>Date Created</ion-label>
      <ion-input formControlName="dateCreated" type="date">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Name</ion-label>
      <ion-input autocomplete autocapitalize formControlName="name" type="text"
        placeholder="Give a name to your Income">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Amount £</ion-label>
      <ion-input formControlName="amount" type="number" placeholder="Amount of this expenditure?" inputmode="decimal">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Description</ion-label>
      <ion-textarea spellcheck autoGrow formControlName="description" type="text"
        placeholder="Give more details about this description">
      </ion-textarea>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="!createForm.valid">
      Add Income
    </ion-button>
  </form>

  <form [formGroup]="createForm" (submit)="submitExpenditure()" *ngIf="selectedRadioGroup === 'Expenditure'">
    <ion-item>
      <ion-label stacked>Date Created</ion-label>
      <ion-input slot="end" formControlName="dateCreated" type="date">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Spend Name</ion-label>
      <ion-input autocomplete autocapitalize formControlName="name" type="text"
        placeholder="Give a name to your expenditure">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Category</ion-label>
      <ion-select formControlName="category" placeholder="Select a category">
        <ion-select-option *ngFor="let category of categoriesList">{{category}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label stacked>Amount £</ion-label>
      <ion-input slot="end" formControlName="amount" type="number" placeholder="Amount of this expenditure?"
        inputmode="decimal">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Spend Description</ion-label>
      <ion-textarea spellcheck autoGrow formControlName="description" type="text"
        placeholder="Give more details about this description">
      </ion-textarea>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="!createForm.valid">
      Add Spend
    </ion-button>
  </form>
</ion-content>