<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
    <ion-button slot="end" type="submit" (click)="authService.SignOut()" size="small">Logout</ion-button>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <ion-item lines="none">
        <ion-label stacked>Select Month and Year</ion-label>
        <ion-datetime displayFormat="MMMM YYYY" [(ngModel)]="dateSelected" (ngModelChange)="handleDateChange()">
        </ion-datetime>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Expenditure</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item *ngFor="let category of expenditureTotals">
        <ion-label>
          <ion-text color="secondary">
            <p>{{category.name}}</p>
          </ion-text>
        </ion-label>
        <ion-label slot="end">
          <ion-text color="secondary">
            <p>£ {{category.total}}</p>
          </ion-text>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-text color="danger">
            <p>Total </p>
          </ion-text>
        </ion-label>
        <ion-label slot="end">
          <ion-text color="danger">
            <p>£ {{totalExpenditure}}</p>
          </ion-text>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Income</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label>
          <ion-text color="danger">
            <p>Total</p>
          </ion-text>
        </ion-label>
        <ion-label slot="end">
          <ion-text color="danger">
            <p>£{{totalIncome}}</p>
          </ion-text>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Budget</ion-card-title>
    </ion-card-header>

    <ion-card-content *ngIf="!!selectedBudget">
      <ion-item *ngFor="let category of selectedBudget">
        <ion-label>
          <ion-text [color]="colorCondition(category.name) ? 'secondary' : 'danger'">
            <p>{{category.name}}</p>
          </ion-text>
        </ion-label>
        <ion-label slot="end">
          <ion-text [color]="colorCondition(category.name) ? 'secondary' : 'danger'">
            <p>£{{category.amount}}</p>
          </ion-text>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>