<ion-header>
  <ion-toolbar>
    <ion-title>Spend It.</ion-title>
    <ion-button slot="end" type="submit" (click)="authService.SignOut()" size="small">Logout</ion-button>
    <ion-buttons slot="end">
      <ion-button routerLink="/create">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="padding">
  <ion-item *ngFor="let spend of spendList | async" routerLink="/detail/{{spend.id}}">
    <ion-label>
      <h2>{{ spend.spendName}}</h2>
      <p>Amount: £{{ spend.amount }}</p>
    </ion-label>
  </ion-item>
</ion-content>